
.container {
	width: 85%;
	margin: 0 auto;
}
.encabezado .container {
	display: flex;
	align-items: center;
}
.contenido .container{
    display: flex;
	align-items: center;
    justify-content: center;
}
.logo {
	width: 15%;
}

.imgLogo {
	width: 100%;
}
.buscador {
	width: 35%;
	display: flex;
}
.titulo{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding-bottom: 24px;
    font-weight: 700;
    line-height: 21px;
    color: #464646;
}
.inputBuscador {
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: transparent;
	border: none;
	font-size: 14px;
}
.formulario__sesion{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.campos{
    margin-bottom: 30px;
}

.btn-enviarMensaje {
    font-family: 'Raleway', sans-serif;
    background-color: #2A7AE4;
    padding: 12px 34px;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-bottom: 80px;
}
.btnEntrar{
    text-align: center;
}

.formulario{
    background-color: #EAF2FD
}
.formulario__class {
    display: flex;
    width: 100%;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.formulario__1{
    display: flex;
}

.formulario__logo {
    width: 25%;
}

.logo__form {
    width: 100%;
}
.info__elemento {
    padding-bottom: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.formulario__div {
    width: 50%;
    margin-top: 64px;
}

.detallesContacto-Titulos {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #464646;
    padding-bottom: 8px;
    font-weight: 700;
}
.elemento {
    padding-top: 5px;
}

label {
    display: block;
    color: #A2A2A2;
    background-color: #fff;
    padding-left: 12px;
    padding-top: 8PX;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

form input,
form textarea {

    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    color: #525c66;
    font-size: 1em;
    resize: none;
}
.rodapePrincipal .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;

}
.itemfooter-list{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
}
@media only screen and (max-width: 668px) {
    .container{
        width: 85% !important;
    }
    .logo{
        width: 30%;
    }
    .encabezado .container{
        justify-content: space-between;
    }
    .inputBuscador{
        display: none;
    }
    .formulario__sesion{
        width: 80% !important;
    }
    .btnEntrar{
        text-align: center;
    }
    .btn-enviarMensaje{
        padding: 12px 34px;
    }
    .formulario__class{
        flex-direction: column;
    }
    .formulario__1{
        width: 80% !important;
        flex-direction: column;
        align-items: center;
    }
    .info{
        width: 40% !important;
        text-align: center;
    }
    .formulario__div{
        width: 90% !important;
    }
}
@media only screen and (max-width: 768px){
    .container {
        width: 95%;
    }
    .formulario__sesion{
        width: 50%;
    }
    .formulario__1 {
        display: flex;
        flex-direction: column;
        width: 40%;

    }

    .formulario__logo {
        width: 50%;
    }

    .info {
        width: 100%;
        margin-left: 20px;
    }

    .formulario__div {
        width: 60%;
    }

    .formulario__div ul {

        margin-right: 32px;

    }
}