.productos__items {
    padding-bottom: 64px;

}
.productos {
    margin-top: 64px;
}

.productos__boton {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

.productos__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productos__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.productos__contenido {
    display: flex;
    flex-wrap: wrap;
    grid-area: contenido;
    padding: 1rem 0rem;
    justify-content: center;
    grid-gap: 16px;
}

.productos__card {
    display: grid;
    grid-template-areas:
        "card-imagen"
        "card-base";
    grid-template-columns: 100%;
    grid-template-rows: 200px auto;
    width: 15%;
}

.productos__card___base {
    display: grid;
    grid-area: card-base;
    grid-row-gap: 0.5rem;
    grid-template-areas:
        "card-header"
        "card-descripcion";
    grid-template-rows: 50px auto;
    padding: 0.75rem;
}

.productos__card___imagen {
    grid-area: card-imagen;
    height: 100%;
    width: 100%;
}

.productos__card___header {
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 8px;
}

.productos__card___titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #464646;
    padding-bottom: 8px;
}

.productos__card___precio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.productos__card___descripcion {
    display: flex;
    flex-wrap: wrap;
    grid-area: card-descripcion;
    padding-top: 8px;
}

.productos__card___ver {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-decoration: none;
}