@media only screen and (max-width: 668px) {
    .logo{
        order: 1;
        width: 33.3%;
    }
    .buscador{
        order: 3;
        width: 33.3%;
    }
    .inputBuscador{
        display: none;
    }
    .Login{
        padding: 20px 60px;
        font-size: 16px;

    }
    .btnLogin{
        order: 2;
        justify-content: center;
        width: 33.3%;
    }
    .logo__buscador{
        padding-left: 50%;
    }
    .productos__card{
        width: 45% !important;
        grid-gap: 10px;

    }
    .formulario__class{
        flex-direction: column;
    }
    .formulario__1{
        width: 80% !important;
        flex-direction: column;
        align-items: center;
    }
    .info{
        width: 40% !important;
        text-align: center;
    }
    .formulario__div{
        width: 90% !important;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .app {
        grid-template-rows: auto auto;
    }

    .banner-info {
        margin-left: 30px;
        margin-top: 200px;
    }

    .productos__card {
        width: 25%;
    }

    .productos__contenido {
        justify-content: space-around;
    }

    .formulario__1 {
        display: flex;
        flex-direction: column;
        width: 40%;

    }

    .formulario__logo {
        width: 50%;
    }

    .info {
        width: 100%;
        margin-left: 20px;
    }

    .formulario__div {
        width: 60%;
    }

    .formulario__div ul {

        margin-right: 32px;

    }
}