.slider__product__img {
  width: 250px; /* Ancho del contenedor */
  height: 150px; /* Altura del contenedor */
  border: 1px solid #000; /* Borde del contenedor */
  display: flex; /* Hace que el contenido esté en una fila */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}
.slider__product__img img {
  max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
  max-height: 100%; /* Hace que la imagen se ajuste al alto del contenedor */
  object-fit: contain; /* Mantiene la relación de aspecto de la imagen y la ajusta al contenedor */
}
.slider__product{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    border: 1px solid #000; 
}
