.btn-outline-success {
  color: #3c43a4 !important;
  border-color: #3c43a4 !important;
}

.logo {
  width: 100%;
  max-width: 200px;
  /* ajusta el valor máximo al ancho que desees */
}

.logo img {
  max-width: 100%;
  height: auto;
}

.contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.productos__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__table {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 90%;
  table-layout: fixed;
}

.title__table {
  font-weight: bold;
  font-size: 20px;
}
.name__product{
  font-weight: bold !important;
}

td {
  overflow: hidden;
  word-wrap: break-word;

}

th,
td {
  width: 20%;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.td__edits {
  padding: 0px;
  text-align: center
}

.imgClass {
  width: 200px;
  height: auto;
  margin: auto;

}

.imgClass img {
  max-width: 100%;
  height: auto;
}

th {
  text-align: center !important;
  background-color: #f2f2f2;
}

.btn__edit {
  padding: 6px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn__edit:hover {
  background-color: #3e8e41;
}

.btn__delete {
  padding: 6px 12px;
  background-color: #af4c4c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn__delete:hover {
  background-color: #8e3e3e;
}
@media (max-width: 600px) {
  .imgClass {
    width: 300px;
  }
  .tags{
    display: none;
  }
  tr {
    border-bottom: 1px solid grey;

  }
  .td__edits{
    padding-bottom: 15px;
  }
  th, td {
    display: block;
    width: 100%;
    border: none;
  }
  
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}