.main__contenido {
  width: 100%;
}
.contenido {
  margin: 0 auto;
  width: 50%;
}
p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  text-align: center;
  margin-bottom: 25px;
}
label {
  display: block;
  color: #a2a2a2;
  background-color: #fff;
  padding-left: 12px;
  padding-top: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  width: 99%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
}
button {
  font-family: "Raleway", sans-serif;
  padding: 16px;
  background-color: #2a7ae4;
  color: #fff;
  font-size: 16px;
  border: none;
  margin-bottom: 80px;
  cursor: pointer;
  margin-top: 25px;
}
